*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
*/build/*
/captures
.externalNativeBuild
/.idea/*
/build
/*.iml
/release_old/
/tinkerPatch/
app/maindexlist.txt
/test*/*
app/src/main/assets/app
app/src/main/assets/strings.json
test*.sh
reports/*
plugin